<div th:fragment="lnbFragment" class="lnb" xmlns:th="http://www.w3.org/1999/xhtml">
    <ul class="nav">
        <li class="nav-item">
            <a th:href="@{/wsmain(workspaceCd=${workspaceCd})}">
                <img src="/images/home.png" alt="Home">
                <span>홈</span>
            </a>
        </li>
        <li class="nav-item">
            <a th:href="@{/calendar/team(workspaceCd=${workspaceCd})}">
                <img src="/images/team_calendar.png" alt="Team Calendar">
                <span>팀 캘린더</span>
            </a>
        </li>
        <li class="nav-item">
            <a th:href="@{/calendar/personal(workspaceCd=${workspaceCd})}">
                <img src="/images/personal_calendar.png" alt="Personal Calendar">
                <span>개인 캘린더</span>
            </a>
        </li>
        <li class="nav-item">
            <a th:href="@{/workspaces/{workspaceCd}/meeting-place(workspaceCd=${workspaceCd})}" class="lnb-item">
                <img src="/images/location.png" alt="Location">
                <span>모임 장소</span>
            </a>
        </li>

        <!-- 회의 관련 메뉴 그룹 -->
        <li class="nav-item nav-item-group">
            <div class="nav-group-header">
                <i class="fas fa-video" style="width: 20px; text-align: center;"></i>
                <span>화상회의</span>
            </div>
            <ul class="nav-sub">
                <li class="nav-sub-item">
                    <a th:href="@{/meeting/setup(workspaceCd=${workspaceCd})}">
                        <img src="/images/sketch.png" alt="New Meeting">
                        <span>새 회의 시작</span>
                    </a>
                </li>
                <li class="nav-sub-item">
                    <a th:href="@{/meeting/list(workspaceCd=${workspaceCd})}">
                        <svg width="20" height="20" viewBox="0 0 24 24" fill="currentColor">
                            <path d="M17 10.5V7c0-.55-.45-1-1-1H4c-.55 0-1 .45-1 1v10c0 .55.45 1 1 1h12c.55 0 1-.45 1-1v-3.5l4 4v-11l-4 4z"/>
                        </svg>
                        <span>진행 중인 회의</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>

    <div class="lnb-footer">
        <a th:href="@{/workspace}">
            <img src="/images/menu.png" alt="워크스페이스 리스트로 이동" style="cursor: pointer;">
        </a>
    </div>
</div>
